.formContent {
  width: 100%;
  font-size: 1.4em;
  padding: 0.8em;
  font-family: "Courier New", Courier, monospace;
  min-height: 6em;
  border: 2px solid #939191;
  border-radius: 5px;
  margin-bottom: 1em;
}

.buttonContent {
  background: #4948a7;
  border-radius: 5px;
  color: white;
  padding: 0.6em 1em;
  font-size: 1.3em;
}
